<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kuas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Kuas.Properties.Settings.KuasConnectionString" connectionString="Data Source=ADMINRG-ACM4MC7;Initial Catalog=Kuas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Kuas.Properties.Settings>
            <setting name="isLoggedBefore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
        </Kuas.Properties.Settings>
    </userSettings>
</configuration>